body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeecec;
}
.top-menu{
    width: 100%;
    height: 11vh;
    background-color: #eeecec;
}
.top-menu img{
    margin-top: -33px;
}
.top-menu input{
    width: 600px;
    height: 28px;
    outline: none;
    border: 1px solid #d2d2d2;
    font-size: 18px;
    padding-left: 18px;   
}
.top-menu button{
    width: 50px;
    height: 28px;
    position: absolute;
    right: 0%;
    background-color: #0077ff;
    outline: none;
    border: none;
}
.top-menu button i{
    color: #fff;
    font-size: 14px;
}
.top-menu .search{
    position: absolute;
    left: 25%;
    top: 3%;
}
.top-menu .left{
    position: absolute;
    right: 3%;
    top: 6%;
}
.top-menu .left img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 28px;
}
.left-menu{
    width: 40vh;
    height: 90vh;
    background-color: #eeecec;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.3);
}
.left-menu a{
    color: #111;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 15px 56px;
}
.left-menu .active{
 background-color: #239458;
 color: #fff;
 padding: 15px 105px;
 font-family: sans-serif;
 font-weight: bolder;
 margin-top: -10px!important;
}
.top-bottom-menu{
    position: absolute;
    top: 12%;
    left: 20%;
    background-color: #fff;
    width: 80%;
    height: 8vh;
}
.top-bottom-menu a{
    color: rgb(124, 124, 124);
    text-decoration: none;
    font-family: sans-serif;
    margin: 15px 22px;
}
.apps-area{
    position: absolute;
    top: 28%;
    left: 22%;
}
.apps-area h2{
    font-size: 28px;
    font-family: sans-serif;
}
.apps-area p{
    color: #111;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: -15px;
}
.apps-area .seemore{
    padding: 10px 12px;
    background-color: #007900;
    color: #fff;
    font-family: sans-serif;
    font-weight: 800;
    text-decoration: none;
    border-radius: 8px;
    position: relative;
    left: 50%;
}
.card{
    margin: 25px 5px;
}
.card img{
    margin: 10px 5px;
    width: 150px;
    height: 120px;
}
.card p{
    margin: 8px 0;
}
.card .fa{
    margin: 12px 4px;
}